
.vl {
  border-left: 3px solid grey;
  height: 280px;
  position: absolute;
  left: 70%;
  margin-left: -3px;
  top: 0;
}

.vl2 {
  border-left: 3px solid grey;
  height: 350px;
  position: absolute;
  left: 70%;
  margin-left: -3px;
  top: 0;
}



@import '~bulma'
