$modal-card-body-background-color: #ff3860;

$modal-content-width: 640px;

@import '~bulma';

@import "./scss/_colourScheme.scss";

@import "./scss/_fonts.scss";

@import "./scss/_navbar.scss";

@import "./scss/_home.scss";

@import "./scss/_index.scss";

@import "./scss/_new.scss";

@import "./scss/_edit.scss";

@import "./scss/_profile.scss";

@import "./scss/_dropdowns.scss";

@import "./scss/_footer.scss";

@import "./scss/buttons.scss";

#modal-body{
  width: 640px;
  height: 525px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f9f9f9;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

#showImage {
  background-repeat: no-repeat;
  background-position: center;
}
