h1.title {
  font-family: 'Vibur', cursive;
  color: $danger;
  font-size: 60px;
  text-shadow: 0 0 5px $danger, 0 0 10px $danger, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black;
  text-align: center;
}

label.label {
  color: #91dcff;
  font-size: 25px;
  font-family: 'Vibur', cursive;
  color: #91dcff;
  text-shadow: 0 0 5px #91dcff, 0 0 10px #91dcff, 0 0 20px #91dcff, 0 0 30px #91dcff, 0 0 40px black, 0 0 50px black;
  text-align: center;
}
