.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }

  &.is-fixed-top {
    z-index: 35;
  }
}

a.navbar-item {
  color: #91dcff;
  font-size: 30px;
  font-family: 'Vibur', cursive;
  color: #91dcff;
  text-shadow: 0 0 5px #91dcff, 0 0 10px #91dcff, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black;
  text-align: center;
}

button.button {
  background-color: transparent;
  border-color: transparent;
}

.navbar-main {
  position: static;
}

.navbar.solid {
  background-color: #000433;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
