
.edit {
  margin-right: 10px;
  padding: 3px 10px;
  font-size: 20px;
}

.erase {
  margin-right: 10px;
  padding: 3px 10px;
  font-size: 20px;
}

.like {
  margin-right: 10px;
  padding: 3px 10px;
  font-size: 20px;
  border: 0;
  background-color: inherit;
}

.submit {
  padding: 3px 10px;
  font-size: 30px;
  border: 0;
  background-color: inherit;
}
